{% block style %}<link rel="stylesheet" href="/assets/css/styleNavBar.css">
{% endblock %}
<aside class="sidebar">
	<div class="logo">
		<h1>ArtGes</h1>
		<p>gestion d'entreprise</p>
	</div>
	<nav class="menu">
		<ul>
			<li class="{{ currentPage == 'dashboard' ? 'active' : '' }}">
				<a href="/dashboard">Tableau de bord</a>
			</li>
			<li class="{{ currentPage == 'construct' ? 'active' : '' }}">
				<a href="/construct/list">Chantier</a>
			</li>
			<li class="{{ currentPage == 'client' ? 'active' : '' }}">
				<a href="/client/list">Client</a>
			</li>
			<li class="{{ currentPage == 'estimate' ? 'active' : '' }}">
				<a href="/estimate/list">Devis</a>
			</li>
			<li class="{{ currentPage == 'bill' ? 'active' : '' }}">
				<a href="/bill/list">Facture</a>
			</li>
			<li class="{{ currentPage == 'planning' ? 'active' : '' }}">
				<a href="/planning/list">Planning</a>
			</li>
		</ul>
	</nav>
	<div class="sidebar-footer">
		<a href="/logout" class="logoutBtn">
			<img src="/assets/img/deco.svg" alt="logout">
			Déconnexion
		</a>
	</div>
</aside>
