{% extends "../layouts/base.twig" %}
{# {% extends "../partials/navBar.twig" %} #}

{% block style %}

<link rel="stylesheet" href="/assets/css/modale.css"




{% endblock %}

{% block main %}
	<section class="headGest">
		<h2>Clients</h2>
		<p>Gérer votre base de données client</p>

		<div id="search">
			<label for="finder">Recherche :</label>
			<input type="text" name="searchContent" id="searchContent">
		</div>
		<div>
			<button id="newClientBtn">+ Nouveau client</button>
		</div>
	</section>
	<section>
		<article>
			<div>
				<p>
					{# {{variable du NOMCLIENT}} #}
				</p>
				<img src="" alt="MODIF">
				<img src="" alt="SUPP">
			</div>
			<div>
				<img src="" alt="PHONE">
				<p>
					{# {{variable du PHONE CLIENT}} #}
				</p>
				<img src="" alt="MAIL">
				<p>
					{# {{variable du MAIL CLIENT}} #}
				</p>
				<img src="" alt="ADRESSE">
				<p>
					{# {{variable du ADRESSE CLIENT}} #}
				</p>
			</div>

			<div>
				<p>
					{# Client depuis le {{DATE CREATION CLIENT}} #}
				</p>
			</div>

		</article>


	</section>

	{# //MODALE NEW CLIENT #}
	<div class="newClientModale" id="newClientModale">

		<form id="newClientForm" action="/client/register" method="POST">
			<div>
				<label for="firstName">Prénom</label>
				<input type="text" id="firstName" name="firstName" value="">
			</div>
			<div>
				<label for="lastName">Nom</label>
				<input type="text" id="lastName" name="lastName" value="">
			</div>
			<div>
				<label for="phone">Téléphone</label>
				<input type="text" id="phone" name="phone" value="">
			</div>
			<div>
				<label for="mail">Email</label>
				<input type="text" id="mail" name="mail" value="">
			</div>
			<div>
				<label for="adress">Adresse</label>
				<input type="text" id="adress" name="adress" value="">
			</div>
			<div>
				<label for="postCode">Code postal</label>
				<input type="text" id="postCode" name="postCode" value="">
			</div>
			<div>
				<label for="city">Ville</label>
				<input type="text" id="city" name="city" value="">
			</div>


			<button type="submit">Enregistrer</button>
			<button type="button" id="closeModale">Annuler</button>
		</form>

	</div>

{% endblock %}


{% block script %}
	<script>
		const newClientBtn = document.querySelector("#newClientBtn")
const newClientModale = document.querySelector("#newClientModale")
const newClientForm = document.querySelector("#newClientForm")
const closeModale = document.querySelector("#closeModale")

newClientBtn.addEventListener("click", (e) => {

newClientModale.classList.add("active")
})

closeModale.addEventListener("click", (e) => {

newClientModale.classList.remove("active")
})

// FERMER LA MODALE AU CLICK EXTERIEUR
newClientModale.addEventListener("click", (e) => {
if (e.target === newClientModale) {
newClientModale.classList.remove("active");
}
});
	</script>


{% endblock %}
