{% extends "../layouts/base.twig" %}
{% extends "../partials/navBar.twig" %}

{% block main %}
<section class="headGest">
	<h2>Chantier</h2>
	<p>Créer et gérer vos chantiers</p>

	<div id="search">
		<label for="finder">Recherche :</label>
		<input type="text" name="searchContent" id="searchContent">
	</div>
	<div>
		<button>+ Nouveau chantier</button>
	</div>
</section>
<section>
	<article>
		<div>
			<h3>
				{# {{VARIABLE TITRE CHANTIER}} #}
			</h3>
			<p>Réference</p>
			<p>
				{# {{VARIABLE REF CHANTIER}} #}
			</p>
			<p>Client</p>
			<p>
				{# {{VARIABLE DU NOM CLIENT}} #}
			</p>
		</div>
		<div>
			<img src="" alt="modifConstruct">
			<img src="" alt="suppConstruct">
		</div>
		<div>
			<img src="" alt="iconeMap">
			<p>
				{# {{VARIABLE ADRESSE CHANTIER}} #}
			</p>
		</div>
		<div>
			<img src="" alt="iconeDate">
			<p>
				{# {{VARIABLE DATE DEBUT/FIN CHANTIER}} #}
			</p>
		</div>
		<div>
			<p>
				{# {{VARIABLE DESCRIPTION CHANTIER}} #}
			</p>
		</div>
		<p>
			{# {{VARIABLE PRIX CHANTIER}} #}
		</p>

	</article>

</section>
