{% extends "../layouts/base.twig" %}
{% block style %}
	<link rel="stylesheet" href="/assets/css/styleDashboard.css">
{% endblock %}
{% block main %}
	{% include "../partials/navBar.twig" %}
	<div class="dashboardContent">
		<h2>Tableau de bord</h2>
		<p>Vue d'ensemble de votre activité</p>

		{# RAPID INFOS #}
		<section class="fastStat">
			<div class="statCard">
				<div class="statHeader">
					<p>Clients actif</p>
					<img src="/assets/img/clientDashboard.svg"  alt="iconeClient">
				</div>
				<div class="statValue">{{ nbClients }}</div>
			</div>
			<div class="statCard">
				<div class="statHeader">
					<p>Chantier en cours</p>
					<img src="/assets/img/hammerDashboard.svg" alt="iconeHammer">
				</div>
				<div class="statValue">{{ nbConstructs }}</div>
			</div>
			<div class="statCard">
				<div class="statHeader">
					<p>Les prochains rendez-vous</p>
					<img src="/assets/img/calendarDashboard.svg" alt="iconePlanning">
				</div>
				<div class="statValue">{{upcomingEvents|length}}</div>
			</div>
			<div class="statCard">
				<div class="statHeader">
					<p>CA du mois</p>
					<img src="/assets/img/moneyDashboard.svg" alt="icone€">
				</div>
				<div class="statValue">{{ monthlyRevenue|number_format(2, ',', ' ') }}
					€</div>
			</div>
		</section>

		{# CHANTIERS #}
		<section class="infoSection">
			<h3>Chantiers actifs</h3>

			<div class="cardList">

				{% for construct in constructs %}

					<article class="listItem">
						<div class="iteminfo">
							<h4>{{ construct.construct_name }}</h4>
							<p>{{ construct.client ? construct.client.firstName ~ ' ' ~ construct.client.lastName : 'Aucun client' }}</p>
						</div>
						<div class="priceDate">
							<p>Fin :
								{{ construct.end_date ? construct.end_date|date("d/m/Y") : '' }}</p>
						</div>
					</article>

				{% endfor %}

			</div>

		</section>

		{# RDV A VENIR #}
		<section class="nextDate">
			<h3>Prochaines interventions</h3>
			{% for event in upcomingEvents %}
				<article>
					<div>
						<p>{{ event.start_datetime|date("d") }}</p>
						<p>{{ event.start_datetime|date("M") }}</p>
					</div>
					<div>
						<h3>{{ event.type_rdv_intervention_visite_ }}</h3>
						<p>{{ event.description ?? 'Aucune description' }}</p>
					</div>
					<div>
						{{ event.start_datetime|date("H:i") }}
						-
						{{ event.end_datetime|date("H:i") }}
					</div>
				</article>
			{% else %}
				<p>Aucune intervention à venir</p>
			{% endfor %}
		</section>

	</div>
{% endblock %}
